@media blind
   {
    @page {
        size: A4;
    }
    body {
       font-size: 12pt;
    }

    img.avatar {
        filter: grayscale(1);
        -webkit-filter: greyscale(1);
    }
   .main-wrapper .time {
        float: right;
        // color: #1976d2 !important;
        print-color-adjust: exact; 
   }
    .sidebar-wrapper {
        position: static;
        float: right;
        width: 40%;
        -webkit-print-color-adjust: exact; 
    }

    .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }

    .skillset .skills-table-wrapper {
        border-color: rgba(0,0,0,0.35);
        box-shadow: none;
        background-color: #ffffff;
    }

    .skillset .skills-table th {
        background-color: #ffffff !important;
        color: #000000 !important;
        print-color-adjust: exact; 
    }

    .skillset .skills-table th,
    .skillset .skills-table td {
        border-color: rgba(0,0,0,0.2);
    }

   .fa-inverse,
   .fa-inverse:after,
   .fa-inverse:before {
     color: #ffffff !important;
   }

}
