@media print {
  @page {
    size: A4;
  }
  body {
    font-size: 9pt;
    background-color: white;
    padding: 0;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    max-width: 100%;
  }

  //   img.avatar {
  //     filter: grayscale(1);
  //     -webkit-filter: greyscale(1);
  //   }
  .main-wrapper .time {
    padding: 10px 30px 10px 10px;
    //  float: right;
    //  color: black !important;
    -webkit-print-color-adjust: exact;
  }
  .sidebar-wrapper {
    position: static;
    grid-column: span 3;
    order: $sidebar-order;
    //  float: right;
    //  width: 40%;
    -webkit-print-color-adjust: exact;
  }

  .main-wrapper {
    grid-column: span 7;
    order: $resume-order;
  }

  .remove-container.container-block {
    display: none;
  }

  footer {
    display: none;
  }

  .skillset,
  .container-block {
    break-inside: avoid;
  }

  .skillset .level-bar-inner {
    background-color: $theme-color !important;
    -webkit-print-color-adjust: exact;
  }

   .fa-inverse,
   .fa-inverse:after,
   .fa-inverse:before {
     color: #ffffff !important;
   }

    /* Hide buttons when printing */
    .print-button,
    .pdf-button,
    .d-print-none {
        display: none !important;
    }
}
